body{
    background-color: black;
}

.container{
    text-align: center;
    margin-top: 20px;
}

#game{
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 300px;
    width: 600px;
    height: 800px;
    border-style: outset;
    background-image: url("../images/superheroes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}